<!DOCTYPE html>
<html lang="ja">
<head>
  {{ template "INIT" }}
  <title>Kobushi</title>
  <link rel="stylesheet" href="{{ .BaseURL }}static/common.css">
  <link rel="stylesheet" href="{{ .BaseURL }}static/kobushi.css">
  <script src="{{ .BaseURL }}static/common.js" defer></script>
  <script src="{{ .BaseURL }}static/kobushi.js" defer></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{{ .BaseURL }}static/favicon.png" type="image/png">
</head>
<body>
  <header>
    <div>
      <h1>
        <a href="{{ .BaseURL }}">
          <img src="{{ .BaseURL }}static/kobushi-icon.svg" alt="kobushi icon">
          <div>KoBuShi</div>
        </a>
      </h1>
      <a class="ring-button" href="{{ .BaseURL }}#new-ring">話題を作る</a>
    </div>
  </header>
  <main>
    <div>
      <div id="breadcrumb">
        <a href="{{ .BaseURL }}">Top</a>
        <i class="fas fa-angle-right"></i>
        <a href="{{ .BaseURL }}ring/{{ .Ring.ID.ToDec }}">{{ .Ring.Title }}</a>
        <i class="fas fa-angle-right"></i>
        <a href="{{ .BaseURL }}ring/{{ .Ring.ID.ToDec }}/{{ .Kobushi.ID.ToDec }}">{{ .Kobushi.Title }}</a>
      </div>
      <div id="kobushi-info">
        <div class="time">{{ printf "%d年%d月%d日" .Kobushi.Time.Year .Kobushi.Time.Month .Kobushi.Time.Day }}</div>
        <h1>{{ .Kobushi.Title }}</h1>
        {{ if .Kobushi.Desc }}
        <div class="description">{{ .Kobushi.Desc }}</div>
        {{ end }}
      </div>
      <div id="messages">
        <div class="contents">
          {{ range .Messages }}
          <div>
            <aside class="time">{{ printf "%d-%d-%d %d:%d" .Time.Year .Time.Month .Time.Day .Time.Hour .Time.Minute }}</aside>
            <div class="body">{{ .Body }}</div>
          </div>
          {{ end }}
        </div>
        {{ template "PAGE_CONTROL" }}
      </div>
      <div id="new-message">
        <form id="new-message-form">
          <input type="text" name="body" placeholder="あなたのアイディアを残しましょう！">
          <button type="button" name="submit" class="submit">投稿</button>
        </form>
      </div>
    </div>
  </main>
</body>
</html>