<!DOCTYPE html>
<html lang="ja">
<head>
  {{ template "INIT" }}
  <title>Kobushi</title>
  <link rel="stylesheet" href="{{ .BaseURL }}static/common.css">
  <link rel="stylesheet" href="{{ .BaseURL }}static/top.css">
  <script src="{{ .BaseURL }}static/common.js" defer></script>
  <script src="{{ .BaseURL }}static/top.js" defer></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{{ .BaseURL }}static/favicon.png" type="image/png">
</head>
<body>
  <header>
    <div>
      <h1>
        <a href="{{ .BaseURL }}">
          <img src="{{ .BaseURL }}static/kobushi-icon.svg" alt="kobushi icon">
          <div>KoBuShi</div>
        </a>
      </h1>
      <a class="ring-button" href="{{ .BaseURL }}#new-ring">話題を作る</a>
    </div>
  </header>
  <main>
    <div>
      <div id="rings">
        <div class="header">
          <h2><i class="fas fa-vector-square"></i>話題</h2>
          <aside>最近できた質問・議論の場です</aside>
        </div>
        <div class="contents">
          {{ range .Rings }}
          <div>
            <a href="{{ $.BaseURL }}{{ .Path }}">{{ .Title }}</a>
            <div>{{ .Desc }}</div>
          </div>
          {{ end }}
        </div>
        {{ template "PAGE_CONTROL" }}
      </div>
      <div id="new-ring">
        <h2><i class="fas fa-plus"></i>新しい話題を作る</h2>
        <form id="new-ring-form">
          <label for="title">タイトル (必須)</label>
          <input type="text" name="title" class="title" placeholder="あたらしい話題に名前をつけましょう！">
          <label for="author">名前</label>
          <input type="text" name="author" class="author">
          <label for="desc">説明</label>
          <input type="text" name="desc" class="desc">
          <button type="button" name="submit" class="submit">話題を作る</button>
        </form>
      </div>
    </div>
  </main>
</body>
</html>