body {
  color: #000C;
  background: #00000008;
}

header {
  padding: 0 0.5rem;
  color: #FFF;
  background: #007FFF;
}
header > div {
  height: 3.5rem;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
header h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.75rem;
}
header > div > *:first-child {
  margin-right: auto;
}
header .ring-button {
  display: block;
  padding: 0.75rem;
  font-size: 0.875rem;
  background: #FFF3;
  border-radius: 0.25rem;
}
header .ring-button:hover {
  background: #FFF5;
}

#breadcrumb {
  margin-bottom: 1rem;
  color: #0008;
}
#breadcrumb a:hover {
  text-decoration: underline;
}
#breadcrumb i {
  margin: 0 0.5rem;
}

main {
  padding: 0 0.5rem;
}
main > div {
  max-width: 960px;
  margin: 1.5rem auto;
}

#page-control {
  padding: 0.75rem 0;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #0001;
}
#prev-page-button, #next-page-button {
  height: 3rem;
  width: 3rem;
  padding: 15px 0;
  color: #0003;
  text-align: center;
  border: 1px solid #0001;
  border-radius: 50%;
}
#prev-page-button:enabled, #next-page-button:enabled {
  color: #000C;
}
#prev-page-button:enabled:hover, #next-page-button:enabled:hover {
  background: #00000008;
}