#kobushi-info {
  padding: 1rem;
  background: #FFF;
}
#kobushi-info .time {
  margin-bottom: 1rem;
  font-size: 0.875rem;
  color: #0008;
}
#kobushi-info h1 {
  font-size: 1.75rem;
}
#kobushi-info h1 i {
  margin-right: 0.5rem;
}
#kobushi-info .description {
  margin-top: 1rem;
  color: #0008;
}

#messages {
  margin-top: 1.5rem;
  background: #FFF;
}
#messages .header {
  height: 2.75rem;
  padding: 0 0.75rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #0001;
}
#messages .header h2 {
  margin-right: 0.875rem;
}
#messages .header h2 i {
  margin-right: 0.5rem;
}
#messages .header aside {
  font-size: 0.875rem;
  color: #0008;
}

#messages .contents > div {
  padding: 0.875rem;
}
#messages .contents .time {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  color: #0004;
}
#messages .contents .body {
  line-height: 1.75;
  white-space: pre-wrap;
}

#new-message {
  margin-top: 1.75rem;
  background: #FFF;
}
#new-message h2 {
  padding: 0.875rem;
  border-bottom: 1px solid #0001;
}
#new-message h2 i {
  margin-right: 0.4375rem;
}
#new-message-form {
  padding: 0.875rem;
}
#new-message-form > * {
  display: block;
}
#new-message label {
  margin-bottom: 0.4375rem;
  font-size: 0.875rem;
  color: #0008;
}
#new-message textarea {
  width: 100%;
  margin-bottom: 0.875rem;
  padding: 0.5rem;
  border: 1px solid #0001;
  background: #00000008;
  resize: vertical;
}
#new-message .submit {
  width: 100%;
  padding: 0.875rem 0;
  color: #FFF;
  background: #007FFF;
  cursor: pointer;
}
#new-message .submit:hover {
  background: #007FFFCC;
}