#ring-info {
  padding: 1rem;
  background: #FFF;
}
#ring-info h1 {
  font-size: 1.75rem;
}
#ring-info h1 i {
  margin-right: 0.5rem;
}
#ring-info .author {
  margin-top: 0.75rem;
}
#ring-info .description {
  margin-top: 0.75rem;
  color: #0008;
}

#kobushis {
  margin-top: 1.5rem;
  background: #FFF;
}
#kobushis .header {
  height: 2.75rem;
  padding: 0 0.75rem;
  display: flex;
  align-items: center;
}
#kobushis .header h2 {
  margin-right: 0.75rem;
}
#kobushis .header h2 i {
  margin-right: 0.5rem;
}
#kobushis .header aside {
  font-size: 0.875rem;
  color: #0008;
}

#kobushis .contents > div {
  padding: 0.75rem;
  border-top: 1px solid #0001;
}
#kobushis .contents a {
  font-weight: bold;
}
#kobushis .contents a:hover {
  text-decoration: underline;
}
#kobushis .contents > div > div {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: #0008;
}

#new-kobushi {
  margin-top: 1.75rem;
  background: #FFF;
}
#new-kobushi h2 {
  padding: 0.75rem;
  border-bottom: 1px solid #0001;
}
#new-kobushi h2 i {
  margin-right: 0.5rem;
}
#new-kobushi-form {
  padding: 0.75rem;
}
#new-kobushi-form > * {
  display: block;
}
#new-kobushi label {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  color: #0008;
}
#new-kobushi input {
  width: 100%;
  margin-bottom: 0.75rem;
  padding: 0.5rem;
  border: 1px solid #0001;
  background: #00000008;
}
#new-kobushi .submit {
  width: 100%;
  padding: 0.75rem 0;
  color: #FFF;
  background: #007FFF;
  cursor: pointer;
}
#new-kobushi .submit:hover {
  background: #007FFFCC;
}