#rings {
  background: #FFF;
}
#rings .header {
  height: 2.75rem;
  padding: 0 0.75rem;
  display: flex;
  align-items: center;
}
#rings .header h2 {
  margin-right: 0.875rem;
}
#rings .header h2 i {
  margin-right: 0.4375rem;
}
#rings .header aside {
  font-size: 0.875rem;
  color: #0008;
}

#rings .contents > div {
  padding: 0.875rem;
  border-top: 1px solid #0001;
}
#rings .contents a {
  font-weight: bold;
}
#rings .contents a:hover {
  text-decoration: underline;
}
#rings .contents > div > div {
  margin-top: 0.4375rem;
  font-size: 0.875rem;
  color: #0008;
}

#new-ring {
  margin-top: 1.75rem;
  background: #FFF;
}
#new-ring h2 {
  padding: 0.75rem;
  border-bottom: 1px solid #0001;
}
#new-ring h2 i {
  margin-right: 0.5rem;
}
#new-ring-form {
  padding: 0.875rem;
}
#new-ring-form > * {
  display: block;
}
#new-ring label {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  color: #0008;
}
#new-ring input {
  width: 100%;
  margin-bottom: 0.75rem;
  padding: 0.5rem;
  border: 1px solid #0001;
  background: #00000008;
}
#new-ring .submit {
  width: 100%;
  padding: 0.75rem 0;
  color: #FFF;
  background: #007FFF;
  cursor: pointer;
}
#new-ring .submit:hover {
  background: #007FFFCC;
}